* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #b8cdf8;
} 

/* heading */

div h1 {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Black Han Sans', sans-serif;
    color: rgb(65, 3, 56);
    padding: 25px 100px;
    font-size: 70px;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    flex-grow: 1;
    flex-shrink: 1;
}